.center {
    text-align: center;
}

.line-height {
    line-height: 5cm;
}

.size {
    background-size: cover;
}

.whiteColour {
    color: white;
}

.width {
    width: 5cm;
}

.footer {
    position: absolute;
    bottom: 0;
}

.border {
    margin-right: 15px;
    margin-bottom: 8px;
    border: 1px solid silver;
    background: black;
    padding: 4px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rebeccapurple;
}

.sizeInput {
    width: 10px;
}

.bg-image {
    /* The image used */
    background-image: url('https://g8fip1kplyr33r3krz5b97d1-wpengine.netdna-ssl.com/wp-content/uploads/2018/05/CityLondonWeb-1160x820.jpg');

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    /*background-color: rgb(0, 0, 0); !* Fallback color *!
    background-color: rgba(0, 0, 0, 0.4); !* Black w/opacity/see-through *!
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;*/
}